/* Адаптация для шапки сайта */
@media (max-width: 1200px) {
    header nav a {
        margin-right: 50px;
    }
}

@media (max-width: 980px) {
    header nav {
        line-height: 150px;
        display: none;
    }

    .burger {
        display: block;
        margin-top: 57px;
        padding-left: 50px;
    }

    header img {
        padding-left: 0;
    }
}

@media (max-width: 460px) {
    header img {
        width: 140px;
        height: 100px;
    }

    .burger {
        padding-left: 15px;
    }

    header .cart {
        margin-right: 15px;
    }
}

/* Адаптация для футера */
@media (max-width: 1440px) {
    footer {
        padding: 50px 200px;
    }
}

@media (max-width: 850px) {
    footer {
        padding: 50px 50px;
    }
}

@media (max-width: 560px) {
    footer {
        display: grid;
        place-items: center;
        justify-content: normal;
    }

    footer nav {
        display: flex;
        justify-content: space-between;
    }

    footer nav a {
        margin-right: 15px;
    }

    footer nav a:last-child {
        margin-right: 0;
    }
    
    footer .socials {
        padding: 25px 0;
    }
}


/* Адаптация для блока Hero - main */
@media (max-width: 980px) {
    video {
        height: 100vh;
    }
}

/* Адаптация для промежуточных блоков - main */
@media (max-width: 980px) {
    .temp-1, .temp-2 {
        display: grid;
        place-items: center;
        flex-direction: column;
    }

    .temp-1 img, .temp-2 img {
        width: 100%;
        height: 100vh;
    }

    .temp-1 img, .temp-2 img {
        width: 100%;
        height: 100vh;
        order: -1;
    }

    .temp-1 .temp-1--text, .temp-2 .temp-2--text {
        padding: 100px 0;
    }

    .temp-1 .temp-1--text h2, .temp-2 .temp-2--text h2 {
        padding-left: 50px;
    }

    .temp-2 .temp-2--text p {
        color: #ffff;
        font-size: 36px;
        text-transform: uppercase;
        padding-left: 50px;
    }

    .temp-2 .temp-2--text .sub-text {
        padding-left: 50px;
        padding-right: 50px;
    }

    .temp-2 .temp-2--text a {
        margin-left: 50px;
    }

    .temp-1 .temp-1--text, .temp-2 .temp-2--text {
        width: 100%;
    }

    .temp-1 .temp-1--text p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .temp-1 .temp-1--text span {
        padding-right: 50px;
        padding-left: 50px;
    }

    .temp-3 .temp-3--text span {
        width: 100%;
    }

    .temp-3 .temp-3--text {
        margin: 0 50px;
    }
}

/* Адаптация для блока отзывов - main */
@media (max-width: 1440px) {
    .reviews {
        padding: 100px 100px;
    }
}

@media (max-width: 980px) {
    .reviews {
        padding: 100px 25px;
    }

    .reviews .reviews-container .block .top-block span {
        font-size: 16px;
        padding: 0 25px;
    }

    .reviews .reviews-container .block .sub-block p {
        font-size: 16px;
    }
}

@media (max-width: 520px) {
    .reviews .reviews-container .block .top-block svg {
        width: 100px;
        height: 100px;
    }
}

/* Адаптация для блока бронирования - main */
@media (max-width: 980px) {
    .booking .map {
        width: 100%;
        height: 450px;
    }

    .booking {
        display: grid;
        place-items: center;
        flex-direction: column;
    }

    .booking .booking-text {
        width: 100%;
    }
}




/* Адаптация для старницы бронирования */
/* Адаптация блока Hero - booking */
@media (max-width: 460px) {
    .hero-booking h1 {
        font-size: 90px;
    }
}

/* Адаптация для формы - booking */
@media (max-width: 760px) {
    .booking-form {
        padding: 50px;
    }

    .booking-form form {
        width: 100%;
    }

    .booking-form form .inputs-top {
        display: grid;
        place-items: center;
        justify-content: normal;
    }

    .booking-form form .inputs-top input {
        margin-bottom: 15px;
        width: 300px;
        padding: 5px 10px;
    }

    .booking-form form .inputs-top select {
        width: 325px;
    }
}

@media (max-width: 420px) {
    .booking-form form .inputs-top input {
        width: 250px;
    }

    .booking-form form .inputs-top select {
        width: 275px;
    }
}





/* Адаптация для страниц доставки */
/* Адапатация для старницы категорий - delivery */
@media (max-width: 620px) {
    .delivery-taxes {
        padding: 25px 50px;
    }

    .categories {
        padding: 0px 50px 50px 50px;
    }
}

/* Адапатация для старницы блюд категории - delivery */
@media (max-width: 620px) {
    .dishes {
        padding: 25px 50px 50px 50px;
    }

    .navigation {
        margin: 15px 50px;
    }
}

/* Адаптация для страницы блюда - delivery */
@media (max-width: 1200px) {
    .dishInfo img {
        margin-left: 0;
    }
}

@media (max-width: 980px) {
    .dishInfo {
        display: grid;
        place-items: center;
        flex-direction: column;
    }

    .dishInfo img {
        width: 450px;
        height: 450px;
        margin-top: 50px;
        margin-right: 0;
    }

    .dishInfo .dishInfo-container {
        width: 100%;
        order: -1;
    }
}

@media (max-width: 620px) {
    .dishInfo {
        padding: 50px;
    }
}

@media (max-width: 470px) {
    .dishInfo img {
        height: 350px;
    }
}




/* Адпатация для страницы меню - menu */
@media (max-width: 620px) {
    .menu {
        padding: 50px 50px;
    }

    .hero-menu h1 {
        font-size: 100px;
    }
}

@media (max-width: 460px) {
    .menu {
        padding: 50px 15px;
    }
}




/* Адаптация для страницы контактов - contact */
@media (max-width: 980px) {
    .contact-form {
        padding: 100px 50px;
    }

    .contact-form form {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .contact-form form .top-form {
        display: grid;
        justify-content: normal;
        place-items: center;
    }

    .contact-form form .top-form .block {
        width: 100%;
    }

    .contact-form form .top-form input {
        width: 95%;
        margin-bottom: 10px;
    }
}




/* Адаптация для корзины - cart */
@media (max-width: 1240px) {
    .user-cart table tbody tr td form {
        width: 100%;
        margin-left: -25px;
    }

    .user-cart table tbody tr td {
        padding: 10px 15px;
    }

    .user-cart table tbody tr .td-item {
        width: 250px;
    }
}   


@media (max-width: 899px) {
    .user-cart .table {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
      }
}

@media (max-width: 680px) {
    .user-cart {
        padding: 25px 50px;
    }

    .navigation {
        margin: 15px 50px;
    }
}