/* Адаптация для шапки сайта */
@media (max-width: 1200px) {
    header nav a {
        margin-right: 50px;
    }
}

@media (max-width: 980px) {
    header nav {
        line-height: 150px;
        display: none;
    }

    .burger {
        display: block;
        margin-top: 57px;
        padding-left: 50px;
    }

    header img {
        padding-left: 0;
    }
}

@media (max-width: 460px) {
    header img {
        width: 140px;
        height: 100px;
    }

    .burger {
        padding-left: 15px;
    }

    header .cart {
        margin-right: 15px;
    }
}

/* Адаптация для футера */
@media (max-width: 1440px) {
    footer {
        padding: 50px 200px;
    }
}

@media (max-width: 850px) {
    footer {
        padding: 50px 50px;
    }
}

@media (max-width: 560px) {
    footer {
        display: grid;
        place-items: center;
        justify-content: normal;
    }

    footer nav {
        display: flex;
        justify-content: space-between;
    }

    footer nav a {
        margin-right: 15px;
    }

    footer nav a:last-child {
        margin-right: 0;
    }
    
    footer .socials {
        padding: 25px 0;
    }
}


/* Адаптация для блока Hero - main */
@media (max-width: 980px) {
    video {
        height: 100vh;
    }
}

/* Адаптация для промежуточных блоков - main */
@media (max-width: 980px) {
    .temp-1, .temp-2 {
        display: grid;
        place-items: center;
        flex-direction: column;
    }

    .temp-1 img, .temp-2 img {
        width: 100%;
        height: 100vh;
    }

    .temp-1 img, .temp-2 img {
        width: 100%;
        height: 100vh;
        order: -1;
    }

    .temp-1 .temp-1--text, .temp-2 .temp-2--text {
        padding: 100px 0;
    }

    .temp-1 .temp-1--text h2, .temp-2 .temp-2--text h2 {
        padding-left: 50px;
    }

    .temp-2 .temp-2--text p {
        color: #ffff;
        font-size: 36px;
        text-transform: uppercase;
        padding-left: 50px;
    }

    .temp-2 .temp-2--text .sub-text {
        padding-left: 50px;
        padding-right: 50px;
    }

    .temp-2 .temp-2--text a {
        margin-left: 50px;
    }

    .temp-1 .temp-1--text, .temp-2 .temp-2--text {
        width: 100%;
    }

    .temp-1 .temp-1--text p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .temp-1 .temp-1--text span {
        padding-right: 50px;
        padding-left: 50px;
    }

    .temp-3 .temp-3--text span {
        width: 100%;
    }

    .temp-3 .temp-3--text {
        margin: 0 50px;
    }
}

/* Адаптация для блока отзывов - main */
@media (max-width: 1440px) {
    .reviews {
        padding: 100px 100px;
    }
}

@media (max-width: 980px) {
    .reviews {
        padding: 100px 25px;
    }

    .reviews .reviews-container .block .top-block span {
        font-size: 16px;
        padding: 0 25px;
    }

    .reviews .reviews-container .block .sub-block p {
        font-size: 16px;
    }
}

@media (max-width: 520px) {
    .reviews .reviews-container .block .top-block svg {
        width: 100px;
        height: 100px;
    }
}

/* Адаптация для блока бронирования - main */
@media (max-width: 980px) {
    .booking .map {
        width: 100%;
        height: 450px;
    }

    .booking {
        display: grid;
        place-items: center;
        flex-direction: column;
    }

    .booking .booking-text {
        width: 100%;
    }
}