/* Wrapper */
.wrapper {
    background-color: #efefef;
    margin-top: -20px;
}

/* Стили для навигации */
.cart-nav {
    padding-top: 15px;
}

/* Стили для корзины */
.user-cart {
    padding: 25px 100px;
}

.user-cart h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    padding-bottom: 15px;
}

.user-cart table {
    width: 100%;
    background-color: #ffff;
    border-collapse: collapse;
}

.user-cart table thead tr th {
    text-align: center;
    background-color: #e6e5e5;
    padding: 10px 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #ddd;
}

.user-cart table tbody tr {
    border-bottom: 1px solid #ddd;
}

.user-cart table tbody tr:last-child {
    border-bottom: none;
}

.user-cart table tbody tr td {
    text-align: center;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 10px 20px;
}

.user-cart table tbody tr td svg {
    transition: 0.2s ease-in-out;
}

.user-cart table tbody tr td svg:hover {
    width: 38px;
    height: 38px;
}

.user-cart table tbody tr .td-item {
    display: flex;
}

.user-cart table tbody tr .td-item img {
    width: 75px;
    height: 75px;
    margin-right: 15px;
}

.user-cart table tbody tr .td-item span {
    font-size: 14px;
}

.user-cart table tbody tr td {
    font-size: 14px;
}

.user-cart table tbody tr td input {
    border: 1px solid #ddd;
    padding: 5px 15px;
    outline: none;
}

.user-cart .additional-info {
    background-color: #ffff;
    margin-top: 25px;
    padding: 25px;
}

.user-cart .additional-info h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.user-cart .additional-info .additional-info--top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 25px;
}

.user-cart .additional-info .additional-info--top p {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
}

.user-cart .additional-info .additional-info--top span {
    font-size: 14px;
    padding-bottom: 5px;
}

.user-cart .additional-info .btn {
    width: 100%;
}

.user-cart .additional-info button {
    width: 100%;
    background-color: black;
    padding: 10px 0;
    margin-top: 15px;
    transition: 0.2s ease-in-out;
    border: none;
}

.user-cart .additional-info button a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.user-cart .additional-info button:hover {
    background-color: rgb(30, 30, 30);
}

.user-cart .cart-nothing {
    padding-bottom: 400px;
    padding-top: 25px;
    font-size: 22px;
    font-weight: 300;
}


/* Стили для страница Checkout */
.user-cart .h2-form {
    padding-top: 50px;
}

.user-cart .h2-form h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    padding-bottom: 15px;
}

.user-cart form {
    width: 48%;
    background-color: white;
    /* margin-top: 50px; */
    padding: 25px;
    margin-bottom: 50px;
}

.user-cart form label {
    font-size: 14px;
    font-weight: 300;
}

.user-cart form input[type="text"] {
    width: 95%;
    /* padding-left: 10px; */
    outline: none;
    padding: 7px 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #555;
    background-color: #efefef;
    border: 1px solid #ddd;
}

.user-cart form input[type="radio"] {
    margin-right: 5px;
    accent-color: black; 
}

.user-cart form .last-input {
    margin-bottom: 15px;
}

.user-cart form  span {
    font-size: 12px;
}

.user-cart form textarea {
    width: 95%;
    height: 100px;
    padding: 7px 10px;
    color: #555;
    background-color: #efefef;
    border: 1px solid #ddd;
    margin-top: 3px;
    outline: none;
}

.user-cart form button {
    width: 98.5%;
    background-color: black;
    padding: 10px 0;
    margin-top: 15px;
    transition: 0.2s ease-in-out;
    border: none;
    color: white;
    font-size: 14px;
}

.user-cart form button:hover {
    background-color: rgb(30, 30, 30);
}

.user-cart form .alert {
    width: 97%;
}