/* Стили для блкоа Hero */
.hero-delivery {
    background-image: url('/images/delivery.jpg');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.hero-delivery h1 {
    font-size: 110px;    
    font-family: "Great Vibes", system-ui;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 300px;
}

/* Стили для блока с ценами на доставку */
.delivery-taxes {
    padding: 25px 100px;
}

.delivery-taxes h2 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.delivery-taxes p {
    font-size: 12px;
    font-weight: 300;
}

/* Стили для категорий */
.categories {
    padding: 0px 100px 50px 100px;
}

.categories h2 {
    font-size: 22px;
    font-weight: 400;
}

.categories .container {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.categories .container .block {
    background-color: #bebebe;
    margin: 2px;
    transition: 0.2s ease-in-out;
}

.categories .container .block:hover {
    background-color: transparent;
    border: 2px solid #c93;
    margin: 0;
}


/* Стили для старницы с товарами */
.navigation {
    margin: 15px 100px;
    /* border-bottom: 1px solid #ddd; */
}

.navigation span {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
}

.navigation hr {
    color: #ddd;
    margin-top: 5px;
}

/* Cтили для вывода блюл */
.dishes {
    padding: 25px 100px 50px 100px;
}

.dishes h2 {
    font-size: 38px;
    font-weight: 400;
    padding-bottom: 25px;
}

.dishes .container-dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}
 
.dishes .container-dishes .block-dishes {
    margin: 5px;
    transition: 0.2s ease-in-out;
    position: relative;
}

.dishes .container-dishes .block-dishes img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: -7px;
}

.dishes .container-dishes .block-dishes:hover {
    border: 2px solid #c93;
}


.dishes .container-dishes .block-dishes .text {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    /* left: -1.5px; */
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
}

.dishes .container-dishes .block-dishes:hover .text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.dishes .container-dishes .block-dishes:hover .text a {
    color: #ddd;
    border: 1px solid white;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
}

.dishes .container-dishes .block-dishes:hover .text p {
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 0 15px;
}

.dishes .container-dishes .block-dishes:hover .text .price {
    color: #c93;
}


/* Стили для блока с выводом информации о товаре */
.dishInfo {
    padding: 50px 100px;
    display: flex;
}

.dishInfo img {
    width: 350px; 
    height: 350px;
    margin-right: 50px;
    margin-left: 100px;
}

.dishInfo .dishInfo-container {
    width: 500px;
}

.dishInfo .dishInfo-container h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
}

.dishInfo .dishInfo-container p {
    color:#c93;
    padding-bottom: 10px;
    font-size: 24px;
    letter-spacing: 3px;
}

.dishInfo .dishInfo-container span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 15px;
}

.dishInfo .dishInfo-container .nutrition-span {
    padding-bottom: 35px;
}

.dishInfo .dishInfo-container a {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #c93;
    padding: 10px 25px;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}

.dishInfo .dishInfo-container a:hover {
    background-color: rgb(186, 138, 44);
}

.dishInfo .dishInfo-container .category-span {
    padding-top: 15px;
}