/* Стили для шапки сайта */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

header img {
    width: 180px;
    height: 130px;
    padding-left: 50px;
    margin-top: 6px;
    /* line-height: 150px; */
}

header nav {
    line-height: 150px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    margin-right: 100px;
    transition: color 0.1s ease-in-out;
    position: relative; 
}

header nav a:hover {
    color: #cc9933;
}

header nav .active4,
header nav .active3,
header nav .active2,
header nav .active {
    color: #cc9933;
}

header nav .active::after {
    content: "";
    position: absolute;
    /* bottom: -5px; */
    left: 19px;
    top: 25px;
    width: 1px;
    height: 10px; 
    background-color: #cc9933;
    border-radius: 10px;
}

header nav .active2::after {
    content: "";
    position: absolute;
    /* bottom: -5px; */
    left: 28px;
    top: 25px;
    width: 1px;
    height: 10px; 
    background-color: #cc9933;
    border-radius: 10px;
}

header nav .active3::after {
    content: "";
    position: absolute;
    /* bottom: -5px; */
    left: 18px;
    top: 25px;
    width: 1px;
    height: 10px; 
    background-color: #cc9933;
    border-radius: 10px;
}

header nav .active4::after {
    content: "";
    position: absolute;
    /* bottom: -5px; */
    left: 29px;
    top: 25px;
    width: 1px;
    height: 10px; 
    background-color: #cc9933;
    border-radius: 10px;
}

header .cart {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 50px;
    background-color: #1a1c20;
    /* line-height: 150px; */
    margin-top: 50px;
    margin-right: 50px;
}

header .cart a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header .cart .cart-img {
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    padding: 0 15px;
}

header .cart svg {
    width: 20px;
    height: 20px;
    margin-top: 9px;
}

header .cart .cart-block {
    padding-left: 15px;
}

header .cart .cart-block {
    padding-right: 10px;
    padding-bottom: 5px;
}

header .cart .cart-block:last-child {
    padding-right: 20px;
    padding-left: 5px;
}

header .cart .cart-block span {
    color: #999;
    font-size: 10px;
}

header .cart .cart-block p {
    padding-top: 0px;
    color: white;
    font-size: 10px;
}

header .cart .cart-block .cart-total {
    color:#cc9933;
}

/* Стили для бургер меню */
.burger {
    /* display: none; */
    margin-top: 57px;
}

.burger svg {
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

.burger svg:hover {
    transform: scale(1.1);
}

.burger-dropdown {
    display: none;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    z-index: 999;
    width: 100%;
    bottom: 0;
    top: 0;
}

.burger-dropdown.active {
    display: block;
}

.burger-dropdown nav {
    display: grid;
    place-items: center;
    padding-top: 100px;
    margin-right: -10px;
}

.burger-dropdown nav a {
    color: white;
    text-decoration: none; 
    font-size: 32px;
    margin-bottom: 15px;
    transition: 0.1s ease-in-out;
}

.burger-dropdown nav a:hover {
    color: #cc9933;
}

.burger-dropdown svg {
    float: right;
    margin-top: 40px;
    margin-right: 55px;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

.burger-dropdown svg:hover {
    transform: scale(1.3);
}