/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;  
}

button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

img, svg {
    max-width: 100%;
}

/* Стили для блока Hero */
video {
    width: 100%;
}

/* Cтили для промежуточного блока #1 */
.temp-1 {
    width: 100%;
    margin-top: -10px;
    display: flex;
}

.temp-1 img,
.temp-2 img {
    width: 50%;
}

.temp-1 .temp-1--text,
.temp-2 .temp-2--text {
    width: 50%;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 100px;
}

.temp-1 .temp-1--text h2,
.temp-2 .temp-2--text h2 {
    color: #999966;
    font-family: "Great Vibes", system-ui;
    font-weight: 400;
    font-size: 56px;
    padding-bottom: 25px;
}

.temp-1 .temp-1--text p,
.temp-2 .temp-2--text p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
    padding-bottom: 25px;
}

.temp-1 .temp-1--text span {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-bottom: 25px;
}

/* Cтили для промежуточного блока #2 */
.temp-2 {
    width: 100%;
    display: flex;
}


.temp-2 .temp-2--text {
    background-color: #16191e;
}

.temp-2 .temp-2--text p {
    color: #ffff;
    font-size: 36px;
    text-transform: uppercase;
}

.temp-2 .temp-2--text .sub-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.temp-2 .temp-2--text .sub-text span:first-child {
    padding-right: 50px;
}

.temp-2 .temp-2--text .sub-text span {
    color: #9999;
    width: 50%;
    font-size: 14px;
}

.temp-2 .temp-2--text a {
    background-color: #cd2122;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 7px 15px;
    transition: 0.2s ease-in-out;
}

.temp-2 .temp-2--text a:hover {
    background-color: #b32121;
}

/* Cтили для промежуточного блока #3 */
.temp-3 {
    background-image: url('/images/temp-img3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 500px; */
    padding-bottom: 75px;
}

.temp-3 h2 {
    font-size: 56px;    
    font-family: "Great Vibes", system-ui;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-top: 75px;
    padding-bottom: 15px;
}

.temp-3 p {
    text-align: center;
    color: white;
    font-size: 32px;
    padding-bottom: 25px;
}

.temp-3 .temp-3--text {
    display: grid;
    place-items: center;
}

.temp-3 .temp-3--text span {
    color: white;
    width: 1000px;
    text-align: center;
    font-size: 18px;
    font-family: "Merriweather", serif;
    font-weight: 400;
}

.temp-3 .temp-3--text-a {
    display: grid;
    place-items: center;
    padding-top: 50px;
}

.temp-3 .temp-3--text-a a {
    background-color: #cd2122;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 7px 15px;
    transition: 0.2s ease-in-out;
}

.temp-3 .temp-3--text-a a:hover {
    background-color: #b32121;
}

/* Стили для блока с отызвами */
.reviews {
    padding: 100px 300px;
}

.reviews h2 {
    font-family: "Great Vibes", Helvetica, Arial, sans-serif;
    font-size: 56px;
    text-align: center;
    color:#999966;
}

.reviews .reviews-container {
    width: 100%;
    padding-top: 25px;
}

.reviews .reviews-container .block {
    display: none
}

.reviews .reviews-container .block.active-review {
    display: block;
}


.reviews .reviews-container .block .top-block {
    display: flex;
    justify-content: space-between;
}

.reviews .reviews-container .block .top-block span {
    padding: 0 50px;
    font-size: 18px;
    font-weight: 300;
    line-height: 34px;
    text-align: center;
    font-family: "Merriweather", serif;
}

.reviews .reviews-container .block .top-block svg {

    margin-top: 20px;
}

.reviews .reviews-container .block .sub-block {
    display: grid;
    place-items: center;
}

.reviews .reviews-container .block .sub-block svg {
    height: 50px;
    width: 50px;
}

.reviews .reviews-container .block .sub-block p {
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    margin-top: -15px;
}

/* Стили для блока с бронированием */
.booking {
    display: flex;
}

.booking .map {
    width: 50%;
}

.booking .booking-text {
    width: 50%;
    background-color: #000000;
    display: grid;
    place-items: center;
    padding: 100px 0;
}

.booking .booking-text h2 {
    color: #999966;
    font-family: "Great Vibes", Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 300;
    /* padding-top: 50px; */
    padding-bottom: 25px;
}

.booking .booking-text p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 10px;
}

.booking .booking-text p:last-child {
    padding-bottom: 0;
}

.booking .booking-text a {
    background-color: #cd2122;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 15px;
    margin-top: 25px;
    transition: 0.2s ease-in-out;
}

.booking .booking-text a:hover {
    background-color:#b32121 ;
}