/* Стили для блока Hero Menu */
.hero-menu {
    background-image: url('/images/temp-img4.png');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.hero-menu h1 {
    font-size: 110px;    
    font-family: "Great Vibes", system-ui;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 300px;
}